In [1]:
import pandas as pd
b = pd.read_csv('Building_Permits.csv')
m = pd.read_csv('melb_data.csv')
# n = pd.read_csv('NFL.csv')

C:\Users\21009\AppData\Local\Temp\ipykernel_20800\3133057945.py:2: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  b = pd.read_csv('Building_Permits.csv')

In [2]:
b.info()
m.info()
# n.iloc[:10, :100].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 43 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Number                           198900 non-null  object
 1   Permit Type                             198900 non-null  int64
 2   Permit Type Definition                  198900 non-null  object
 3   Permit Creation Date                    198900 non-null  object
 4   Block                                   198900 non-null  object
 5   Lot                                     198900 non-null  object
 6   Street Number                           198900 non-null  int64
 7   Street Number Suffix                    2216 non-null    object
 8   Street Name                             198900 non-null  object
 9   Street Suffix                           196132 non-null  object
 10  Unit                                    29479 non-null   float64
 11  Unit Suffix                             1961 non-null    object
 12  Description                             198610 non-null  object
 13  Current Status                          198900 non-null  object
 14  Current Status Date                     198900 non-null  object
 15  Filed Date                              198900 non-null  object
 16  Issued Date                             183960 non-null  object
 17  Completed Date                          97191 non-null   object
 18  First Construction Document Date        183954 non-null  object
 19  Structural Notification                 6922 non-null    object
 20  Number of Existing Stories              156116 non-null  float64
 21  Number of Proposed Stories              156032 non-null  float64
 22  Voluntary Soft-Story Retrofit           35 non-null      object
 23  Fire Only Permit                        18827 non-null   object
 24  Permit Expiration Date                  147020 non-null  object
 25  Estimated Cost                          160834 non-null  float64
 26  Revised Cost                            192834 non-null  float64
 27  Existing Use                            157786 non-null  object
 28  Existing Units                          147362 non-null  float64
 29  Proposed Use                            156461 non-null  object
 30  Proposed Units                          147989 non-null  float64
 31  Plansets                                161591 non-null  float64
 32  TIDF Compliance                         2 non-null       object
 33  Existing Construction Type              155534 non-null  float64
 34  Existing Construction Type Description  155534 non-null  object
 35  Proposed Construction Type              155738 non-null  float64
 36  Proposed Construction Type Description  155738 non-null  object
 37  Site Permit                             5359 non-null    object
 38  Supervisor District                     197183 non-null  float64
 39  Neighborhoods - Analysis Boundaries     197175 non-null  object
 40  Zipcode                                 197184 non-null  float64
 41  Location                                197200 non-null  object
 42  Record ID                               198900 non-null  int64
dtypes: float64(12), int64(3), object(28)
memory usage: 65.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [3]:
m.sample(3)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
9916,Hawthorn,8 Leslie St,3,h,2370000.0,S,Jellis,24/06/2017,5.3,3122.0,...,2.0,1.0,362.0,188.0,1890.0,Boroondara,-37.82866,145.04259,Southern Metropolitan,11308.0
10380,Lalor,13 Rosemary Dr,3,h,572000.0,S,Love,27/05/2017,16.3,3075.0,...,1.0,2.0,640.0,140.0,1975.0,Whittlesea,-37.65910,145.00549,Northern Metropolitan,8279.0
5684,South Yarra,7/48 Cromwell Rd,1,u,410000.0,S,hockingstuart,24/09/2016,3.3,3141.0,...,1.0,0.0,0.0,48.0,1960.0,Stonnington,-37.84270,145.00060,Southern Metropolitan,14887.0

In [4]:
m.isnull()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13576,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13577,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13578,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13579,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [8]:
m.select_dtypes(exclude=['object']).sum()

Rooms            3.989800e+04
Price            1.460779e+10
Distance         1.376710e+05
Postcode         4.217000e+07
Bedroom2         3.958200e+04
Bathroom         2.083500e+04
Car              2.176500e+04
Landsize         7.583291e+06
BuildingArea     1.083529e+06
YearBuilt        1.612023e+07
Lattitude       -5.134490e+05
Longtitude       1.969035e+06
Propertycount    1.012310e+08
dtype: float64

In [9]:
m.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [10]:
m.shape()

TypeError: 'tuple' object is not callable

In [11]:
b.shape

(198900, 43)

In [14]:
m.select_dtypes(exclude=['object']).mean()

Rooms            2.937997e+00
Price            1.075684e+06
Distance         1.013778e+01
Postcode         3.105302e+03
Bedroom2         2.914728e+00
Bathroom         1.534242e+00
Car              1.610075e+00
Landsize         5.584161e+02
BuildingArea     1.519676e+02
YearBuilt        1.964684e+03
Lattitude       -3.780920e+01
Longtitude       1.449952e+02
Propertycount    7.454417e+03
dtype: float64

In [16]:
m.select_dtypes(exclude=['object']).median()

Rooms                 3.000000
Price            903000.000000
Distance              9.200000
Postcode           3084.000000
Bedroom2              3.000000
Bathroom              1.000000
Car                   2.000000
Landsize            440.000000
BuildingArea        126.000000
YearBuilt          1970.000000
Lattitude           -37.802355
Longtitude          145.000100
Propertycount      6555.000000
dtype: float64

In [20]:
m.fillna(m.select_dtypes(exclude=['object']).mean() ,inplace=True)
m.select_dtypes(exclude=['object']).mean()

Rooms            2.937997e+00
Price            1.075684e+06
Distance         1.013778e+01
Postcode         3.105302e+03
Bedroom2         2.914728e+00
Bathroom         1.534242e+00
Car              1.610075e+00
Landsize         5.584161e+02
BuildingArea     1.519676e+02
YearBuilt        1.964684e+03
Lattitude       -3.780920e+01
Longtitude       1.449952e+02
Propertycount    7.454417e+03
dtype: float64

In [21]:
bb = b.iloc[1000:1010, :10]
bb

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
1000,201301087445,8,otc alterations permit,01/08/2013,6907,013,48,NaN,Mercedes,Wy
1001,201301087431,8,otc alterations permit,01/08/2013,3604,058A,4075,NaN,20th,St
1002,201301087446,8,otc alterations permit,01/08/2013,3923,006,1550,NaN,Bryant,St
1003,201301087429,8,otc alterations permit,01/08/2013,3705,039,55,NaN,05th,St
1004,201301087448,8,otc alterations permit,01/08/2013,3923,006,1550,NaN,Bryant,St
1005,201301087447,8,otc alterations permit,01/08/2013,0613,029,2330,NaN,Clay,St
1006,201301087449,8,otc alterations permit,01/08/2013,3608,017,3350,B,21st,St
1007,201301087450,8,otc alterations permit,01/08/2013,1861A,005,910,NaN,Lawton,St
1008,M365147,8,otc alterations permit,01/08/2013,1018,007,414,NaN,Spruce,St
1009,M365147,8,otc alterations permit,01/08/2013,1018,007,416,NaN,Spruce,St

In [22]:
bb.fillna(0)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
1000,201301087445,8,otc alterations permit,01/08/2013,6907,013,48,0,Mercedes,Wy
1001,201301087431,8,otc alterations permit,01/08/2013,3604,058A,4075,0,20th,St
1002,201301087446,8,otc alterations permit,01/08/2013,3923,006,1550,0,Bryant,St
1003,201301087429,8,otc alterations permit,01/08/2013,3705,039,55,0,05th,St
1004,201301087448,8,otc alterations permit,01/08/2013,3923,006,1550,0,Bryant,St
1005,201301087447,8,otc alterations permit,01/08/2013,0613,029,2330,0,Clay,St
1006,201301087449,8,otc alterations permit,01/08/2013,3608,017,3350,B,21st,St
1007,201301087450,8,otc alterations permit,01/08/2013,1861A,005,910,0,Lawton,St
1008,M365147,8,otc alterations permit,01/08/2013,1018,007,414,0,Spruce,St
1009,M365147,8,otc alterations permit,01/08/2013,1018,007,416,0,Spruce,St

In [23]:
bb.dropna()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
1006,201301087449,8,otc alterations permit,01/08/2013,3608,017,3350,B,21st,St

In [24]:
bb.dropna(axis=1)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Name,Street Suffix
1000,201301087445,8,otc alterations permit,01/08/2013,6907,013,48,Mercedes,Wy
1001,201301087431,8,otc alterations permit,01/08/2013,3604,058A,4075,20th,St
1002,201301087446,8,otc alterations permit,01/08/2013,3923,006,1550,Bryant,St
1003,201301087429,8,otc alterations permit,01/08/2013,3705,039,55,05th,St
1004,201301087448,8,otc alterations permit,01/08/2013,3923,006,1550,Bryant,St
1005,201301087447,8,otc alterations permit,01/08/2013,0613,029,2330,Clay,St
1006,201301087449,8,otc alterations permit,01/08/2013,3608,017,3350,21st,St
1007,201301087450,8,otc alterations permit,01/08/2013,1861A,005,910,Lawton,St
1008,M365147,8,otc alterations permit,01/08/2013,1018,007,414,Spruce,St
1009,M365147,8,otc alterations permit,01/08/2013,1018,007,416,Spruce,St

In [25]:
bb.fillna(method='bfill', axis=1)

C:\Users\21009\AppData\Local\Temp\ipykernel_20800\2273349803.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  bb.fillna(method='bfill', axis=1)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
1000,201301087445,8,otc alterations permit,01/08/2013,6907,013,48,Mercedes,Mercedes,Wy
1001,201301087431,8,otc alterations permit,01/08/2013,3604,058A,4075,20th,20th,St
1002,201301087446,8,otc alterations permit,01/08/2013,3923,006,1550,Bryant,Bryant,St
1003,201301087429,8,otc alterations permit,01/08/2013,3705,039,55,05th,05th,St
1004,201301087448,8,otc alterations permit,01/08/2013,3923,006,1550,Bryant,Bryant,St
1005,201301087447,8,otc alterations permit,01/08/2013,0613,029,2330,Clay,Clay,St
1006,201301087449,8,otc alterations permit,01/08/2013,3608,017,3350,B,21st,St
1007,201301087450,8,otc alterations permit,01/08/2013,1861A,005,910,Lawton,Lawton,St
1008,M365147,8,otc alterations permit,01/08/2013,1018,007,414,Spruce,Spruce,St
1009,M365147,8,otc alterations permit,01/08/2013,1018,007,416,Spruce,Spruce,St

In [26]:
bb.fillna(method='bfill', axis=0)

C:\Users\21009\AppData\Local\Temp\ipykernel_20800\393985037.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  bb.fillna(method='bfill', axis=0)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
1000,201301087445,8,otc alterations permit,01/08/2013,6907,013,48,B,Mercedes,Wy
1001,201301087431,8,otc alterations permit,01/08/2013,3604,058A,4075,B,20th,St
1002,201301087446,8,otc alterations permit,01/08/2013,3923,006,1550,B,Bryant,St
1003,201301087429,8,otc alterations permit,01/08/2013,3705,039,55,B,05th,St
1004,201301087448,8,otc alterations permit,01/08/2013,3923,006,1550,B,Bryant,St
1005,201301087447,8,otc alterations permit,01/08/2013,0613,029,2330,B,Clay,St
1006,201301087449,8,otc alterations permit,01/08/2013,3608,017,3350,B,21st,St
1007,201301087450,8,otc alterations permit,01/08/2013,1861A,005,910,NaN,Lawton,St
1008,M365147,8,otc alterations permit,01/08/2013,1018,007,414,NaN,Spruce,St
1009,M365147,8,otc alterations permit,01/08/2013,1018,007,416,NaN,Spruce,St

In [27]:
import numpy as np

data = {
    "A": [1, np.nan, 3],
    "B": [4, np.nan, 6],
    "C": [np.nan, 8, 9]
}
bb = pd.DataFrame(data)
print("原始 DataFrame：\n", bb)
bb_filled_col = bb.fillna(method='bfill', axis=0)
print("\n按列向后填充后的 DataFrame：\n", bb_filled_col)
bb_filled_row = bb.fillna(method='bfill', axis=1)
print("\n按行向后填充后的 DataFrame：\n", bb_filled_row)

原始 DataFrame：
      A    B    C
0  1.0  4.0  NaN
1  NaN  NaN  8.0
2  3.0  6.0  9.0

按列向后填充后的 DataFrame：
      A    B    C
0  1.0  4.0  8.0
1  3.0  6.0  8.0
2  3.0  6.0  9.0

按行向后填充后的 DataFrame：
      A    B    C
0  1.0  4.0  NaN
1  8.0  8.0  8.0
2  3.0  6.0  9.0

C:\Users\21009\AppData\Local\Temp\ipykernel_20800\3561559844.py:10: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  bb_filled_col = bb.fillna(method='bfill', axis=0)
C:\Users\21009\AppData\Local\Temp\ipykernel_20800\3561559844.py:12: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  bb_filled_row = bb.fillna(method='bfill', axis=1)